.container {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  padding: 1rem 0;
}

.pokeData {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
}

#introText {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 25px;
  padding: 1rem 30rem;
}

.pokedexImg {
  position: relative;
  display: flex;
  justify-content: center;
}

.dataPosition {
  position: absolute;
}

.sprite {
  top: 13rem;
  left: 33rem;
  width: 12%;
  height: 27.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;    
  animation: ellipsis steps(4,end) 1700ms infinite normal;
  content: "\2219\2219\2219"; 
  width: 0px;
  letter-spacing: -14px;
  font-size: 56px;
}

@keyframes ellipsis {
  to {
    width: 6rem;    
  }
}

.inputBox {
  top: 12rem;
  left: 57rem;
}

#input {
  height: 49px;
  width: 248px;
  background: #333333ff;
  border: none;
  outline: 0;
  color: yellowgreen;
  caret-color: transparent;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

#blinking-cursor  {
  left: 8px;
  top: 4px;
  position: relative;
  color: yellowgreen;
  font-size: 35px;
  font-weight: 100;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: yellowgreen;
  }
}

button {
  border: none;
  outline: 0;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
}

.searchButton {
  top: 27.5rem;
  left: 56rem;
}

#searchBttn {
  width: 115px;
  height: 41px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.clearButton {
  top: 32rem;
  left: 56rem;
}

#clearBttn {
  width: 117px;
  height: 40px;
  text-transform: UPPERCASE;
  color: ghostwhite;
  letter-spacing: 2px;
  font-size: 14px;
}

.leftIdBttn {
  top: 30rem;
  left: 42rem;
}

.rightIdBttn {
  top: 30rem;
  left: 46rem;
}

#leftIdArrow, #rightIdArrow {
  width: 3rem;
  height: 2rem;
}

.idNumber {
  top: 30rem;
  left: 34rem;
  width: 105px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokeID {
  letter-spacing: 2px;
}

.pokeInfo {
  top: 19rem;
  left: 57rem;
  width: 283px;
  height: 110px;
}

#type-1, #type-2 {
  margin: 0;
}

#type-2 {
  padding-left: 40px;
}

#info1 {
  top: 18.5rem;
}

.leftDataBttn {
  top: 405px;
  left: 66.5rem;
}

.rightDataBttn {
  top: 405px;
  left: 70.7rem;
}

#leftDataArrow, #rightDataArrow {
  width: 53px;
  height: 20px;
  background-color: transparent;
}